
// aggiunge il colore principale de brand





// impaginazione

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin section-white {

  background-color: #fff;
  padding: 0 70px;
  margin-bottom: 30px;


}

@mixin section-primaryColor {

  background-color: #fde7d2;
  padding: 40px 70px;


}
@mixin clearfix {

  &::after {
    display: block;
    content: "";
    clear: both;

  }
  }


@mixin float-left {

  float: left;
}

@mixin float-right {

  float: right;
}

@mixin nofloat {

  float: none;
}
